<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Based on:</b>
  <%= link_to(@template) do %>
    <strong><%= @template.name %></strong>
  <% end %>
</p>

<p>
<% @exercises = @workout.exercises %>
<% @exercises.each do |@exercise| %>
  <p>
     <%= "Exercise:    " %>
     <%= @exercise.name %><br />
     <%= "Reps: " %>
     <%= @exercise.reps %><br />
     <%= "Weight:  " %>
     <%= @exercise.weight %><br />
  </p>
<% end %>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
