<!-- app/views/messages/_form.html.erb -->
<%=form_for @template do |template_form|%>
  <div class="field">
    <%=template_form.label :name%>

    <%=f.text_field :name%>
  </div>

  <div id="message_conditions">
    <%template_form.fields_for :exercises do |nested|%>
      <%=render :partial => 'exercise/exercise', :locals => { :f => nested }%>
    <%end%>
  </div>
  <%=link_to "Add exercise", '#', :remote => true, :class => :add_template_exercise%>
<%end%>