<head>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.ends_at %>
</p>

<p>
  <b>All day:</b>
  <%= @event.all_day %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Workout:</b>
  <%= @workout.id %>
</p>

<%= button_to 'Remove', @event, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_index_path %>
